body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

.map-container {
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
}

svg {
    width: 100%;
    height: auto;
}

.country {
    fill: rgba(185, 185, 185, 0.65); /* A more visible fill color */
    stroke: rgb(185, 185, 185);
    cursor: pointer;
    opacity: 1; /* Set opacity to 1 */
}

.country:hover {
    fill: #a4e100;
}
